<!DOCTYPE html>
<html>
<head>
    <title>GobHash - Welcome</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for dashboard & statistics" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/layouts/layout3/css/themes/red-intense.min.css" rel="stylesheet" type="text/css" id="style_color" />
    {# <link href="/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" /> #}
    <link href="/assets/layouts/layout3/css/custom.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container-fluid no-padding">


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <!-- Login content-->
                <div class="modal-content am-login-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Inicio de Sesión</h4>
                    </div>
                    <div class="modal-body float-left">
                        <form action="" class="col-xs-12 no-padding">
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <label class="control-label" for="">Usuario</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-xs-12 form-group ">
                                <div class="col-xs-4">
                                    <label  class="control-label" for="">Contraseña</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="password">
                                </div>
                            </div>
                            <div class="col-xs-12 form-group text-center margin-top-10">
                                <input class="form-control" type="submit" value="Iniciar Sesion">
                            </div>
                            <div class="register-info text-center">
                                <p>¿Olvidaste tu constraseña</p>
                                <p>Haz click <a class="password_recovery_anchor" href="#">aqui</a></p>
                                <p><a class="registration_anchor" href="#">Regístrate ahora</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

                <!-- Register content-->
                <div class="modal-content am-register-form hidden-element">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Registro de usuario</h4>
                    </div>
                    <div class="modal-body float-left">
                        <form action="" class="col-xs-12 no-padding">
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <label class="control-label" for="">Usuario</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <label class="control-label" for="">Correo</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-xs-12 form-group ">
                                <div class="col-xs-4">
                                    <label  class="control-label" for="">Contraseña</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="password">
                                </div>
                            </div>
                            <div class="col-xs-12 form-group ">
                                <div class="col-xs-4">
                                    <label  class="control-label" for="">Confirme contraseña</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="password">
                                </div>
                            </div>
                            <div class="col-xs-12 form-group text-center margin-top-10">
                                <input class="form-control" type="submit" value="Registrarse ahora">
                            </div>
                            <div class="register-info text-center">
                                <p><a class="login_anchor" href="#">Iniciar sesion</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

                <!------- -->
                <!-- Forgotten password content-->
                <div class="modal-content am-forgotten-password-form hidden-element">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Recuperar constraseña</h4>
                    </div>
                    <div class="modal-body float-left">
                        <form action="" class="col-xs-12 no-padding">
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <label class="control-label" for="">Usuario</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <label class="control-label" for="">Correo</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text">
                                </div>
                            </div>

                            <div class="col-xs-12 form-group text-center margin-top-10">
                                <input class="form-control" type="submit" value="Recuperar constraseña ahora">
                            </div>
                            <div class="register-info text-center">
                                <p><a class="login_anchor" href="#">Iniciar sesion</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="login-modal-button background-orange hidden-lg hidden-md">
            <div class="font-bold flex-vertical-horizontal-center">
                <button type="button" class="btn btn-info btn-lg btn-transparent font-color-black font-bold" data-toggle="modal" data-target="#myModal">
                    Inicio de Sesión
                </button>
            </div>
        </div>
        <div class="row globhash-row1">
            <div class="col-lg-6 col-md-12 uppercase flex-vertical-horizontal-center globhash-title">
                <div>Gob<span class="">has#</span></div>
            </div>
            <div class="col-lg-6 col-md-12 text-center flex-vertical-horizontal-center">
                <p class="globhash-subtitle-1">Plataforma de Analisis Estadístico de las</p>
                <p class="globhash-subtitle-2">Aplicaciones del Estado de Guatemala</p>
            </div>
        </div>
        <div class="row globhash-row2">
            <!-- Text section -->
            <div class="col-lg-8 col-md-7 second-row-text-container">
                <div class="second-row-text-inner-item">
                    <p class="globhash-text"><span class="uppercase">Gob<span class="globhash-text-orange">has#</span></span> te permite</p>
                    <p>interpretar datos como</p>
                    <p>nunca antes!!</p>
                </div>

                <div class="mas-populares-box font-size-l">
                    <p>#MasPopulares</p>
                </div>
            </div>

            <!-- Form section -->
            <div class="col-lg-4 col-md-5 hidden-xs hidden-sm">
                <div class="col-xs-12 register-info-box am-login-form"><!-- BEGIN: LOGIN FORM -->
                    <div class="text-center">
                        <p class="font-bold font-size-l">Inicio de Sesión</p>
                    </div>
                    <form action="" class="col-xs-12 no-padding">
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4">
                                <label class="control-label" for="">Usuario</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-xs-12 form-group ">
                            <div class="col-xs-4">
                                <label  class="control-label" for="">Contraseña</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>
                        <div class="col-xs-12 form-group text-center margin-top-10">
                            {# <input class="form-control" type="submit" value="Iniciar Sesion"> #}
                            <a href="/feed" class="btn">Iniciar Sesión</a>
                        </div>
                        <div class="register-info text-center">
                            <p>¿Olvidaste tu constraseña</p>
                            <p>Haz click <a class="password_recovery_anchor" href="#">aqui</a></p>
                            <p><a class="registration_anchor" href="#">Regístrate ahora</a></p>
                        </div>
                    </form>
                </div><!-- END: LOGIN FORM -->

                <div class="col-xs-12 register-info-box am-register-form hidden-element"><!-- BEGIN: Registration FORM -->
                    <div class="text-center">
                        <p class="font-bold font-size-l">Registro de usuario</p>
                    </div>
                    <form action="" class="col-xs-12 no-padding">
                        <!-- Alias -->
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4">
                                <label class="control-label" for="">Usuario</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="text">
                            </div>
                        </div>

                        <!-- Nombre -->
                        <div class="col-xs-12 form-group ">
                            <div class="col-xs-4">
                                <label  class="control-label" for="">Correo</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="col-xs-12 form-group ">
                            <div class="col-xs-4">
                                <label  class="control-label" for="">Contraseña</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>

                        <!-- Password Confirmation -->
                        <div class="col-xs-12 form-group ">
                            <div class="col-xs-4">
                                <label  class="control-label" for="">Confirme constraseña</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>

                        <div class="register-info text-center">
                            <p><a id="registration_anchor" href="#">Regístrate ahora</a></p>
                            <p><a class="login_anchor margin-top-10" href="#">Iniciar sesion</a></p>
                        </div>
                    </form>
                </div><!-- END: Registration FORM -->

                <div class="col-xs-12 register-info-box am-forgotten-password-form hidden-element"><!-- BEGIN: Forgotten password FORM -->
                    <div class="text-center">
                        <p class="font-bold font-size-l">Recuperar contraseña</p>
                    </div>
                    <form action="" class="col-xs-12 no-padding">
                        <!-- Alias -->
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4">
                                <label class="control-label" for="">Usuario</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="text">
                            </div>
                        </div>

                        <!-- Nombre -->
                        <div class="col-xs-12 form-group ">
                            <div class="col-xs-4">
                                <label  class="control-label" for="">Correo</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>

                        <div class="register-info text-center">
                            <p><a id="" href="#">Recuperar contraseña</a></p>
                            <p><a class="login_anchor margin-top-10" href="#">Iniciar sesion</a></p>
                        </div>
                    </form>
                </div><!-- END: Forgotten password FORM -->
            </div>
        </div>
        <div class="row globhash-row3">
            <div class="col-md-4 col-xs-12 inner-section border-black">
                <div class="col-xs-10">
                    <p>Los 5 proveedores con mas ganancia en el Ministerio de Educacion(2016) #Educacion #2016</p>
                </div>
                <div class="col-xs-2 no-padding no-margin">
                    <a class="text-decoration-none" href="#">
                        <div class="border-black background-orange margin-top-10 flex-vertical-horizontal-center ">
                            <p class="font-bold text-center font-color-black">Ver Mas</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 inner-section border-black">
                <div class="col-xs-10">
                    <p>Ejecucion del presupuesto de MINFIN 2016 #Finanzas #2016</p>
                </div>
                <div class="col-xs-2 no-padding no-margin">
                    <a class="text-decoration-none" href="#">
                        <div class="border-black background-orange margin-top-10 flex-vertical-horizontal-center ">
                            <p class="font-bold text-center font-color-black">Ver Mas</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 inner-section text-center background-orange border-black">
                <p class="font-bold font-size-xl">¿Quieres un servicio personalizado?</p>
                <a href="#">Comunícate con nosotros</a>
            </div>
        </div>
    </div>
    <script></script>
</body>
<script src="/assets/global/plugins/jquery.min.js"></script>
<script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script>
    //When the DOM is ready
    $(function() {

        /*
            The login square is going to be according the login state.
         */
        var loginState = 1;
        checkLoginState();


        //Handling of anchor clicks
        $( ".registration_anchor" ).click(function(event) {
            event.preventDefault(); //Prevent the normal behavior of the anchor
            loginState = 2;
            checkLoginState();
        });

        $( ".login_anchor" ).click(function(event) {
            event.preventDefault(); //Prevent the normal behavior of the anchor
            loginState = 1;
            checkLoginState();
        });


        $( ".password_recovery_anchor" ).click(function(event) {
            event.preventDefault(); //Prevent the normal behavior of the anchor
            loginState = 3;
            checkLoginState();
        });


        //Check the current state of the login form
        function checkLoginState() {
            switch(loginState) {
                case 1:
                        console.log("Normal login");

                        //Hide the register form
                        $('.am-register-form').removeClass('visible-element');
                        $('.am-register-form').addClass('hidden-element');

                        //Hide the forgotten password form
                        $('.am-forgotten-password-form').removeClass('visible-element');
                        $('.am-forgotten-password-form').addClass('hidden-element');

                        //Show the login form
                        $('.am-login-form').removeClass('hidden-element');
                        $('.am-login-form').addClass('visible-element');
                        break;
                case 2:
                    console.log("Registration state");

                    //Hide the login form
                    $('.am-login-form').addClass('hidden-element');
                    $('.am-login-form').removeClass('visible-element');


                    //Hide the forgotten password form
                    $('.am-forgotten-password-form').removeClass('visible-element');
                    $('.am-forgotten-password-form').addClass('hidden-element');

                    //Show the register form
                    $('.am-register-form').addClass('visible-element');
                    $('.am-register-form').removeClass('hidden-element');

                    break;

                case 3:
                    console.log("Password recovery state");
                    //Hide the login form
                    $('.am-login-form').addClass('hidden-element');
                    $('.am-login-form').removeClass('visible-element');

                    //Show the register form
                    $('.am-register-form').addClass('hidden-element');
                    $('.am-register-form').removeClass('visible-element');

                    //Show the forgotten form
                    $('.am-forgotten-password-form').addClass('visible-element');
                    $('.am-forgotten-password-form').removeClass('hidden-element');
                    break;

            }
        }
    });
</script>
</html>
